html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

:root{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  background-image: url("./images/background.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


